/* به نام خدا */

/* ریست ویژگی‌ها */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.2s ease-out;
	border: none;
	outline: none;
}
body {
	font-family: IRHoma;
	background-color: var(--color-n5);
	height: 100vh;
}
h1,h2,h3,h4,h5,h6,input,button {
	font-family: IRHoma;
	margin: 1rem;
	line-height: 1.3;
}
a {
	text-decoration: none;
}
p {
	margin: 0.75rem 0;
	text-align: justify;
	text-align-last: auto;
}
ul {list-style: none;}
/* عکس و اس-وی-جی باید تمام محفظه را پر کند */
img,svg {width: 100%;}
/* برای ایجاد ترنزیشن در اس-وی-جی‌ها */
/* path {transition: fill 0.2s ease-in-out;} */

/* کلاس‌های کاربردی */
.pad-0 {padding: 0;}
.pad-1 {padding: 0.25rem;}
.pad-2 {padding: 0.5rem;}
.pad-3 {padding: 1rem;}

.mar-0 {margin: 0;}
.mar-1 {margin: 0.25rem;}
.mar-2 {margin: 0.5rem;}
.mar-3 {margin: 1rem;}

.bor-rad-1 {border-radius: 1rem;}
.bor-rad-2 {border-radius: 2rem;}
.bor-rad-3 {border-radius: 3rem;}

.font-size-1 {font-size: 1rem;}
.font-size-2 {font-size: 1.2rem;}
.font-size-3 {font-size: 1.5rem;}
.font-size-4 {font-size: 2rem;}

.icon-small {
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	overflow: hidden;
	margin: 0.25rem;
}
.icon-medium {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	overflow: hidden;
	margin: 0.25rem;
}
.icon-larg {
	width: 4rem;
	height: 4rem;
	border-radius: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	overflow: hidden;
	margin: 0.5rem;
}

.bold {font-weight: bold;}

body{
	display: grid;
	grid-template-rows:		1fr 8fr 1fr;
	grid-template-columns:	1fr 8fr 3fr;
	grid-template-areas: 
	'topbar		topbar		topbar'
	'options	main		filters'
	'bottombar	bottombar 	bottombar';
}

/* top-bar */
#top-bar {
	grid-area: topbar;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	background-color: var(--color-n1);
	color: var(--color-n5);
	padding: 0 4rem;
	z-index: 1;
}

#logo-pack {
	font-family: IRHoma, Vazir;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}
#site-name {color: var(--color-p4);}
#site-logo path {fill: var(--color-p4);}
#site-logo:hover path {fill: var(--color-n1);}
#site-logo {background-color: var(--color-no);}
#site-logo:hover {background-color: var(--color-p4);}

#search-box {
	display: flex;
	align-items: center;
	background-color: var(--color-n4);
	overflow: hidden;
	padding-left: 0.5rem;
} #search-box:hover {
	background-color: var(--color-n5);
}
#search-button {
	background-color: var(--color-n5);
} #search-button path {
	fill: var(--color-s4);
} #search-button:hover {
	background-color: var(--color-s4);
} #search-button:hover path {
	fill: var(--color-n5);
}
#search-box > input {
	background-color: var(--color-no);
}
/* top-bar */

/* filters */
#filters {
	grid-area: filters;
	border: 1px solid var(--color-s5);
	box-shadow: 0 0.25rem 0.5rem 0.5rem var(--color-ss);
	color: var(--color-s2);
}
/* filters */

/* options */
#options {
	grid-area: options;
	background-color: var(--color-s2);
	color: var(--color-n5);
	box-shadow: 0.25rem 0 0.5rem 0 var(--color-ss);
	margin-right: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content:space-evenly;
	align-items: center;
}
.option-box {
	width: 5rem;
	height: 5rem;
	display: flex;
	justify-content:flex-start;
	align-items: center;
	align-content: center;
}
.option {
	display: flex;
	align-items: center;
	align-content: center;
	background-color: var(--color-no);
	color: var(--color-p1);
	border-radius: 3rem;
	position: absolute;
	box-shadow: 0 0 0 0 var(--color-ns);
} .option:hover {
	background-color: var(--color-p4);
	box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem var(--color-ps);
} .option svg > * {
	fill: var(--color-p4);
} .option:hover svg > * {
	fill: var(--color-p1);
} .option-name {
	max-width: 0;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 1rem;
} .option:hover > .option-name {
	max-width: 15rem;
}
/* options */

/* main */
#main {
	grid-area: main;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
	gap: 1vh;
	overflow-y: scroll;
	overflow-x:visible;
	padding-top: 1vh;
	height: 80vh;
}
.product-card{
	display: grid;
	grid-template-areas: 
	'pi pn'
	'pi pp'
	'pi ps';
	grid-template-columns: 1fr 1fr;
	align-items:stretch;
	box-shadow: 0 0.125rem 0.125rem 0.125rem var(--color-ss);
	border-radius: 1rem 2rem 2rem 1rem;
	height: 20vh;
	color: var(--color-n1);
	font-size: 1rem;
	overflow: hidden;
} .product-card:hover{box-shadow: 0 0.125rem 0.25rem 0.25rem var(--color-ss);}
.product-image{
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: pi;
}
.product-name{
	display: flex;
	align-items: center;
	justify-content:center;
	grid-area: pn;
	background-color: var(--color-n1);color: var(--color-p4);padding: 0 1rem;
	border-radius: 0 0 0 2rem;
}
.product-price{
	display: flex;
	align-items: center;
	justify-content:center;
	grid-area: pp;
	background-color: var(--color-n5);color: var(--color-n2);padding: 0 1rem;
}
.product-shop{
	display: flex;
	align-items: center;
	justify-content:center;
	grid-area: ps;
	background-color: var(--color-s4);color: var(--color-n5);padding: 0 1rem;
	border-radius: 2rem 0 0 0;
}
/* main */

/* bottom-bar */
#bottombar {
	grid-area: bottombar;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: var(--color-n1);
	color: var(--color-n5);
}
/* bottom-bar */
