<div tabindex="0" dir="rtl" class="select-input">
    <div class="select-title">{{ widget.text }}
        <i class="typcn typcn-chevron-left"></i>
    </div>
    <div class="select-dropdown">
        <span class="select-selected"></span>
        <div class="select-option-list"></div>
    </div>
    <select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
        <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
        {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
        </optgroup>{% endif %}{% endfor %}
    </select>
  </div>