{% extends 'market/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
    {% trans 'error'|title %}
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/form_style.css' %}
{% endblock stylesheet %}

{% block search_box %}{% endblock search_box %}

{% block filters %}{% endblock filters %}

{% block main %}
<div id="main" class="pad-2">
    <h1>
        {% blocktrans %}
        Please select a shop from 'My Shop' page.
        then choose 'Add Shelf' from there.
        {% endblocktrans %}
    </h1>
</div>
{% endblock main %}
