{% extends 'market/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
    {% trans 'add shop'|title %}
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/form_style.css' %}
{% endblock stylesheet %}

{% block search_box %}{% endblock search_box %}

{% block filters %}{% endblock filters %}

{% block main %}
<div id="main" class="pad-2">
    <form dir="auto" method="POST" action="">
        <div class="form-header font-size-2">{% trans 'register shop'|title %}</div>
        <div class="form-inputs">
            {% csrf_token %}
            <fieldset>
                <div class="field-container">{{ form.email }}{{ form.errors.email }}</div>
                <div class="field-container">{{ form.name }}{{ form.errors.name }}</div>
                <div class="field-container">{{ form.description }}{{ form.errors.description }}</div>
                <div class="field-container">{{ form.logo }}{{ form.errors.logo }}</div>
            </fieldset>
        </div>
        <div class="form-submit">
            <div class="non-field-errors">{{ form.non_field_errors }}</div>
            <input class="form-btn" class="font-size-2" type="submit" value="{% translate 'register'|title %}">
            <p>{% trans 'Already registered your shop?' %}<a href="{% url 'market:my_shops' %}"> {% trans 'my shop'|title %}</a></p>
        </div>
    </form>
</div>
{% endblock main %}
