{% extends 'market/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
    {% trans 'add shelf'|title %}
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/form_style.css' %}
{% endblock stylesheet %}

{% block search_box %}{% endblock search_box %}

{% block filters %}{% endblock filters %}

{% block main %}
<div id="main" class="pad-2">
    <form dir="auto" method="POST" action="">
        <div class="form-header font-size-2">
        {% blocktrans with shop_name=shop.name%}
        Add shelf to {{ shop.name }} shop
        {% endblocktrans %}
    </div>
        <div class="form-inputs">
            {% csrf_token %}
            <fieldset>
                <div class="field-container">{{ form.product }}{{ form.errors.product }}</div>
                <div class="field-container">{{ form.price }}{{ form.errors.price }}</div>
                <div class="field-container">{{ form.discount_price }}{{ form.errors.discount_price }}</div>
                <div class="field-container">{{ form.remaining }}{{ form.errors.remaining }}</div>
            </fieldset>
        </div>
        <div class="form-submit">
            <div class="non-field-errors">{{ form.non_field_errors }}</div>
            <input class="form-btn" class="font-size-2" type="submit" value="{% translate 'register'|title %}">
        </div>
    </form>
</div>
{% endblock main %}
