{% extends 'market/base.html' %}
{% load static %}
{% load i18n %}
{% load market_filters %}

{% block page_title %}
    {% trans 'delete owner'|title %}
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/form_style.css' %}
{% endblock stylesheet %}

{% block search_box %}{% endblock search_box %}

{% block filters %}{% endblock filters %}

{% block main %}
<div id="main" class="pad-2">
    <form dir="auto" method="POST" action="">
        <div class="form-header font-size-2">{% trans 'remove ownership'|title %}</div>
        <div class="form-inputs">
            {% csrf_token %}
            <fieldset class="list-body">
                <legend>{% trans 'ownership information'|title %}</legend>
                <div class="item">{{ own|verbose:"owner"|title }}: {{ owner }}</div>
                <div class="item">{{ own|verbose:"shop"|title }}: {{ shop }}</div>
            </fieldset>
            <fieldset class="list-body">
                <legend>{% trans 'permissions'|title %}</legend>
                {% if own.can_edit_shop %}
                <div class="item">{{ own|verbose:"can_edit_shop"|title }}</div>
                {% endif %}
                {% if own.can_open_shelf %}
                <div class="item">{{ own|verbose:"can_open_shelf"|title }}</div>
                {% endif %}
                {% if own.can_edit_shelf %}
                <div class="item">{{ own|verbose:"can_edit_shelf"|title }}</div>
                {% endif %}
                {% if own.can_delete_shelf %}
                <div class="item">{{ own|verbose:"can_delete_shelf"|title }}</div>
                {% endif %}
                {% if own.can_add_product %}
                <div class="item">{{ own|verbose:"can_add_product"|title }}</div>
                {% endif %}
            </fieldset>
        </div>
        <div class="form-submit">
            <input class="form-btn" class="font-size-2" type="submit" value="{% trans 'delete'|title %}">
        </div>
    </form>
</div>
{% endblock main %}
