{% extends 'market/base.html' %}
{% load static %}
{% load i18n %}
{% load market_filters %}

{% block page_title %}
    {% trans 'delete shop'|title %}
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/form_style.css' %}
{% endblock stylesheet %}

{% block search_box %}{% endblock search_box %}

{% block filters %}{% endblock filters %}

{% block main %}
<div id="main" class="pad-2">
    <form dir="auto" method="POST" action="">
        <div class="form-header font-size-2">{% trans 'close shop'|title %}</div>
        <div class="form-inputs">
            {% csrf_token %}
            <fieldset class="list-body">
                <legend>{% trans 'shop information'|title %}</legend>
                <div class="item">{{ shop|verbose:"name"|title }}: {{ shop.name }}</div>
                <div class="item">{{ shop|verbose:"email"|title }}: {{ shop.email }}</div>
                <div class="item">{{ shop|verbose:"description"|title }}: {{ shop.description }}</div>
                <div class="item">{{shop|verbose:"logo"|title }}: <span class="icon-small"><img src="{{ shop.logo.url }}"/></span></div>
            </fieldset>
        </div>
        <div class="form-submit">
            <input class="form-btn" class="font-size-2" type="submit" value="{% trans 'delete'|title %}">
        </div>
    </form>
</div>
{% endblock main %}
