{% extends 'market/base.html' %}
{% load static %}

{% block page_title %}
    خرید
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/form_style.css' %}
{% endblock stylesheet %}

{% block search_box %}{% endblock search_box %}

{% block filters %}{% endblock filters %}

{% block main %}
<div id="main" class="pad-2">
    <form dir="auto" action="" method="POST">
        <div class="form-header">
            خرید فرضی {{ user }}
        </div>
        <div>مبلغ کل: {{ basket.total_price }}</div>
        {% csrf_token %}
        <div class="form-submit">
            <input class="form-btn" class="font-size-2" type="submit" value="خرید">
        </div>
    </form>
</div>
{% endblock main %}
    