{% extends 'market/base.html' %}
{% load static %}

{% block page_title %}
    ویرایش مالک
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/form_style.css' %}
{% endblock stylesheet %}

{% block search_box %}{% endblock search_box %}

{% block filters %}{% endblock filters %}

{% block main %}
<div id="main" class="pad-2">
    <form dir="auto" method="POST" action="">
        <div class="form-header font-size-2">
            ویرایش مالکیت {{ owner }} بر {{ shop }}
        </div>
        <div class="form-inputs">
            {% csrf_token %}
            <fieldset>
                <legend>اجازه‌ها</legend>
                <div class="field-container">{{ form.can_edit_shop }}{{ form.errors.can_edit_shop }}</div>
                <div class="field-container">{{ form.can_open_shelf }}{{ form.errors.can_open_shelf }}</div>
                <div class="field-container">{{ form.can_edit_shelf }}{{ form.errors.can_edit_shelf }}</div>
                <div class="field-container">{{ form.can_delete_shelf }}{{ form.errors.can_delete_shelf }}</div>
                <div class="field-container">{{ form.can_add_product }}{{ form.errors.can_add_product }}</div>
            </fieldset>
        </div>
        <div class="form-submit">
            <div class="non-field-errors">{{ form.non_field_errors }}</div>
            <input class="form-btn" class="font-size-2" type="submit" value="ثبت">
        </div>
    </form>
</div>
{% endblock main %}
