{% extends 'market/base.html' %}
{% load static %}
{% load i18n %}
{% load market_filters %}

{% block page_title %}
    {% trans 'edit shelf'|title %}
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/form_style.css' %}
{% endblock stylesheet %}

{% block search_box %}{% endblock search_box %}

{% block filters %}{% endblock filters %}

{% block main %}
<div id="main" class="pad-2">
    <form dir="auto" method="POST" action="">
        <div class="form-header font-size-2">{% trans 'edit shelf'|title %}</div>
        <div class="form-inputs">
            {% csrf_token %}
            <fieldset class="list-body">
                <legend>{% trans 'shelf information'|title %}</legend>
                <div class="item">{{ shelf|verbose:"product"|title }}: {{ shelf.product }}</div>
                <div class="item">{{ shelf|verbose:"shop"|title }}: {{ shelf.shop }}</div>
            </fieldset>
            <fieldset>
                <div class="field-container">{{ form.price }}{{ form.errors.price }}</div>
                <div class="field-container">{{ form.discount_price }}{{ form.errors.discount_price }}</div>
                <div class="field-container">{{ form.remaining }}{{ form.errors.remaining }}</div>
            </fieldset>
        </div>
        <div class="form-submit">
            <div class="non-field-errors">{{ form.non_field_errors }}</div>
            <input class="form-btn" class="font-size-2" type="submit" value="{% trans 'confirm'|title %}">
        </div>

    </form>
</div>
{% endblock main %}
