{% extends 'market/base.html' %}
{% load static %}
{% load i18n %}
{% load market_filters %}

{% block page_title %}
    {% trans 'my account'|title %}
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/form_style.css' %}
{% endblock stylesheet %}

{% block search_box %}{% endblock search_box %}

{% block filters %}{% endblock filters %}

{% block account_option %}{% endblock account_option %}

{% block main %}
<div dir="auto" id="main" class="pad-2">
    <div class="list mar-3">
        <div class="list-head">{% trans 'personal information'|title %}</div>
        <div class="list-body">
            <div class="item">
                {{ user|verbose:"email"|title }}: {{ user.email }}
            </div>
            <div class="item">
                {{ user|verbose:"username"|title }}: {{ user.username }}
            </div>
            <div class="item">
                {{ user|verbose:"first_name"|title }}: {{ user.first_name }}
            </div>
            <div class="item">
                {{ user|verbose:"last_name"|title }}: {{ user.last_name }}
            </div>
            <div class="item">
                {{ user|verbose:"profile"|title }}: <div class="icon-medium"><img src="{{ user.profile.url }}"></div>
            </div>
        </div>
        <div class="list-end">
            <a href="{% url 'market:edit_account' %}">{% trans 'edit account'|title %}</a>
            <a href="{% url 'market:logout' %}">{% trans 'logout'|title %}</a>
        </div>
    </div>
    <div class="list mar-3">
        <div class="list-head">
            {% trans 'carts'|title %}
        </div>
        <div class="list-body">
        {% for basket in baskets %}
            <div class="item">{{ basket }}</div>
        {% endfor %}
        </div>
        <div class="list-end"></div>
    </div>
    <div class="list mar-3">
        <div class="list-head">
            {% trans 'current cart'|title %}
        </div>
        <div class="list-body">
            {% for order in active_orders %}
                <div class="item">
                    <span>{{ order }}</span>
                    <span>{{ order.shelf|verbose:"price"|title }}: {{ order.shelf.final_price }}</span>
                    <span>{{ order.shelf|verbose:"shop"|title }}: {{ order.shelf.shop }}</span>
                    <span>{% trans 'sum'|title %}: {{ order.total_price }}</span>
                </div>
            {% endfor %}
                
        </div>
        <div class="list-end">
            <a href="{% url 'market:my_basket' %}">{% trans 'cart'|title %}</a>
        </div>
    </div>
    <div>
    </div>
</div>
{% endblock main %}
