{% extends 'market/base.html' %}
{% load static %}
{% load i18n %}
{% load market_filters %}

{% block page_title %}
    {% trans 'cart'|title %}
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/form_style.css' %}
{% endblock stylesheet %}

{% block search_box %}{% endblock search_box %}

{% block filters %}{% endblock filters %}

{% block main %}
<div id="main" class="pad-2">
    <form dir="auto" action="" method="POST">
        {% csrf_token %}
        <div class="form-header">
            {% blocktrans with user=user%}
            {{ user }}s cart
            {% endblocktrans %}
        </div>
        <div class="list-body">
            {% for order in orders %}
            <div class="item">
                <span>{{ order.shelf|verbose:"product"|title }}: {{ order.shelf.product }}</span>
                <span>{{ order.shelf|verbose:"shop"|title }}: {{ order.shelf.shop }}</span>
                <span>{{ order.shelf|verbose:"price"|title }}: {{ order.shelf.final_price }}</span>
                <span>{{ order|verbose:"number"|title }}: {{ order.number }}</span>
                <span>{% trans "total price"|title %}: {{ order.total_price }}</span>
            </div>
            {% endfor %}
            <div>{% trans 'sum'|title %}: {{ basket.total_price }}</div>
        </div>
        <div class="form-submit">
            <input class="form-btn" class="font-size-2" type="submit" value="{% trans 'buy'|title %}">
        </div>
    </form>
</div>
{% endblock main %}
    