{% extends 'market/base.html' %}
{% load static %}

{% block page_title %}
    سبد خرید
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/form_style.css' %}
{% endblock stylesheet %}

{% block search_box %}{% endblock search_box %}

{% block filters %}{% endblock filters %}

{% block main %}
<div id="main" class="pad-2">
    <form dir="auto" action="" method="POST">
        {% csrf_token %}
        <div class="form-header">
            سبد خرید {{ user }}
        </div>
        <div class="list-body">
            {% for order in orders %}
            <div class="item">
                <span>کالا: {{ order.shelf.product.name }}</span>
                <span>فروشگاه: {{ order.shelf.shop.name }}</span>
                <span>قیمت: {{ order.shelf.price }}</span>
                <span>تعداد: {{ order.number }}</span>
                <span>مبلغ: {{ order.total_price }}</span>
            </div>
            {% endfor %}
            <div>مبلغ کل: {{ basket.total_price }}</div>
        </div>
        <div class="form-submit">
            <input class="form-btn" class="font-size-2" type="submit" value="خرید">
        </div>
    </form>
</div>
{% endblock main %}
    