{% extends 'market/base.html' %}
{% load static %}

{% block page_title %}
    سبد خرید
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/login_style.css' %}
{% endblock stylesheet %}

{% block main %}
<div id="main" class="pad-2">
    <div>active basket of {{ basket.user.username }}</div>
    {% for order in orders %}
    <div>
        <span dir="rtl" style="margin:0.5rem 0.5rem;">کالا: {{ order.shelf.product.name }}</span>
        <span dir="rtl" style="margin:0.5rem 0.5rem;">فروشگاه: {{ order.shelf.shop.name }}</span>
        <span dir="rtl" style="margin:0.5rem 0.5rem;">قیمت واحد: {{ order.shelf.price }}</span>
        <span dir="rtl" style="margin:0.5rem 0.5rem;">تعداد: {{ order.number }}</span>
        <span dir="rtl" style="margin:0.5rem 0.5rem;">قیمت: {{ order.total_price }}</span>
    </div>
    {% endfor %}
    <div>قیمت کل: {{ basket.total_price }}</div>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="خرید">  
    </form>
</div>
{% endblock main %}
    