{% extends 'market/base.html' %}
{% load static %}

{% block page_title %}
    فروشگاه‌های من
{% endblock page_title %}

{% block stylesheet %}
    {% static 'market/css/form_style.css' %}
{% endblock stylesheet %}

{% block search_box %}{% endblock search_box %}

{% block filters %}{% endblock filters %}

{% block main %}
<!-- <style>
    a,a:visited{color: inherit;}
</style> -->
<div id="main" class="pad-2">
    <div dir="auto" class="list">
        <div class="list-head">فهرست فروشگاه‌های شما</div>
        <div class="list-body">
            {% for own in owns %}
            <div class="item">
                <span class="icon-medium"><img src="{{ own.shop.logo.url }}" alt="no logo"></span>
                <span>
                    <a href="{% url 'market:shop' shop_id=own.shop.id %}">{{ own.shop.name }}</a>
                </span>
                <span>
                    {% if own.can_edit_shop %}
                    <a href="{% url 'market:edit_shop' shop_id=own.shop.id %}">ویرایش</a>
                    {% endif %}
                </span>
                <span>
                    {% if own.is_founder %}
                    <a href="{% url 'market:delete_shop' shop_id=own.shop.id %}">حذف</a>
                {% endif %}
                </span>
            </div>
            {% endfor %}
        </div>
        <div class="list-end">
            <a href="{% url 'market:add_shop' %}">افزودن فروشگاهی جدید</a>
        </div>
    </div>
</div>
{% endblock main %}
